<head>
  <link rel="stylesheet" href="app.css" />
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
</head>
<body>
  <header>
    <h1>Todo<span>LIST</span></h1>
    <h2>Simple todo list implementation using node and express</h2>
  </header>
  <section class="form">
    <input
      type="text"
      name="todoInput"
      id="todoInput"
      placeholder="insert your list item here ...."
    />
  </section>
  <ul class="list"></ul>
  <script src="app.js"></script>
</body>
